<div class="content-wrapper">
 
  	<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
      Contact Form
      <small>Lets us know about your problems</small>
      </h1>
    </section>
  
    <div class="box-body">
    {{#if EmailSent}}

      <div class="container">
        <h1 class="text-green">Your email sent successful!</h1>
        <p >Thank you for contacting with the development team. Your feedback is very important to us. We'll see your suggestion and will make the right changes. </p>
      </div>

    {{else}}
        <form role="form">
            <!-- text input -->
            <div class="form-group has-feedback">
                <label>Email:</label>
                {{input type="email" value=contactMail class="form-control" placeholder="Enter your email"}} 
                {{#if isValidEmail}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
             </div>

            <!-- textarea -->
             <div class="form-group has-feedback">
                <label>Message:</label>
                 {{textarea class="form-control" value=contactMessage rows="2" placeholder="Enter message. (At least 5 characters.)"}}
                 {{#if isMessageMaxChars}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
            </div>

            <div class="col-md-1">
              <button  class="btn btn-primary btn-block" {{action 'SendEmail'}} disabled={{isNotValid}}>Submit</button>
            </div><!-- /.col -->          
        </form>
    {{/if}}
    </div><!-- /.box-body -->
    
</div>
{{outlet}}
