
<body class="hold-transition skin-blue sidebar-mini">
    
      {{partial 'nav-bar'}}
      <!-- =============================================== -->

      {{partial 'nav-Menu'}}

      <!-- =============================================== -->

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            User Profile
            <small>Change your info</small>
          </h1>
        </section>

        <!-- Main content -->
        <section class="content-header">
              <div>
                  <div class="tab-pane" id="settings">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label for="inputName" class="col-sm-1 control-label">Full Name</label>
                        <div class="col-sm-5">
                          {{input type="text" class="form-control " value=fullname  placeholder="Full Name"}}
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail" class="col-sm-1 control-label">Email</label>
                        <div class="col-sm-5">
                          {{input type="email" class="form-control" value=email placeholder="Email"}}
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputName" class="col-sm-1 control-label">Username</label>
                        <div class="col-sm-5">
                          {{input type="text" class="form-control" value=username placeholder="Username"}}
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <label for="inputSkills" class="col-sm-1 control-label">Skills</label>
                        <div class="col-sm-5">
                          {{input type="text" class="form-control" value=skills placeholder="Skills"}}
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-12">
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div><!-- /.tab-pane -->
                
              </div><!-- /.nav-tabs-custom --> 

        </section><!-- /.content -->
         
      </div><!-- /.content-wrapper -->


		

      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
</body>

{{outlet}}
